<div class="container mt-4">
    <h2>Panel de Administración</h2>
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link" routerLink="/admin/manage-products">Gestionar Productos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/admin/manage-accounts">Gestionar Cuentas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/admin/manage-roles">Gestionar Roles</a>
      </li>
    </ul>
    <router-outlet></router-outlet>
  </div>
  