<!-- src/app/components/navbar/navbar.component.html -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">Juegos de Mesa XYZ</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/strategy">Juegos de Estrategia</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/family">Juegos Familiares</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/party">Juegos de Fiesta</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/kids">Juegos Infantiles</a>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto">
        <li class="nav-item" *ngIf="currentUser$ | async as user">
          <a class="nav-link" href="#">Hola, {{ user.username }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/login" *ngIf="!(currentUser$ | async)">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/register" *ngIf="!(currentUser$ | async)">Registro</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" (click)="logout()" *ngIf="currentUser$ | async">Cerrar Sesión</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/admin" *ngIf="isAdmin$ | async">Admin</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/cart">
            <span class="material-icons">shopping_cart</span>
            <span id="cartCount" class="badge bg-secondary">{{ cartCount$ | async }}</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
