/* src/styles.css */
@import '~material-icons/iconfont/material-icons.css';
/* Ejemplo de estilos personalizados */
body {
    font-family: Arial, sans-serif;
  }
  
  .card {
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .card-img-top {
    width: 100%;
    height: auto;
  }
  