<div class="modal-header">
    <h4 class="modal-title">Rol</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="roleForm">
      <div class="form-group">
        <label for="name">Nombre</label>
        <input id="name" class="form-control" formControlName="name" />
      </div>
      <div class="form-group">
        <label for="description">Descripción</label>
        <input id="description" class="form-control" formControlName="description" />
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="activeModal.dismiss()">Cancelar</button>
    <button type="button" class="btn btn-primary" (click)="onSave()">Guardar</button>
  </div>
  