:root {
    --main-bg-color: #f0f0f0;
    --main-text-color: #333;
    --header-bg-color: #333;
    --header-text-color: #fff;
    --nav-bg-color: #444;
    --nav-text-color: #fff;
    --link-hover-color: #ddd;
    --primary-color: #007bff;
    --secondary-color: #6c757d;
    --box-border-color: #444;
    --box-background-color: #fff;
    --box-shadow-color: rgba(0, 0, 0, 0.2);
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
}

header {
    background-color: var(--header-bg-color);
    color: var(--header-text-color);
    padding: 1em;
    text-align: center;
}

.navbar .navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar .nav-link {
    display: flex;
    align-items: center;
    color: var(--nav-text-color);
    padding: 0.5em 1em;
    transition: color 0.3s;
}

.navbar .nav-link .icon {
    width: 24px;
    height: 24px;
    margin-right: 8px;
}

.navbar .nav-link:hover {
    color: var(--link-hover-color);
}

main {
    padding: 2em;
    text-align: center;
}

.container {
    max-width: 960px;
    margin: auto;
}

footer {
    background-color: var(--header-bg-color);
    color: var(--header-text-color);
    text-align: center;
    padding: 1em;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.card {
    text-align: left;
    transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px var(--box-shadow-color);
}

.card img {
    transition: transform 0.3s;
}

.card img:hover {
    transform: scale(1.1);
}

/* Animaciones CSS */
h1 {
    animation: fadeIn 2s ease-in-out;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

/* Media Queries */
@media (max-width: 768px) {
    .navbar .nav-link {
        justify-content: center;
        padding: 0.5em;
    }
}

@media (max-width: 576px) {
    .navbar .nav-link {
        justify-content: flex-start;
    }

    .navbar .nav-link .icon {
        display: none;
    }

    .container {
        padding: 1em;
    }

    main {
        padding: 1em;
    }

    .juegos {
        display: none !important;
    }

    .carousel-item {
        text-align: center;
    }
}

/* Estilo de caja de juego de mesa */
.game-box {
    border: 5px solid var(--box-border-color);
    background-color: var(--box-background-color);
    box-shadow: 0 10px 20px var(--box-shadow-color);
    padding: 20px;
    border-radius: 10px;
    margin: 20px auto;
    max-width: 600px;
}
