:root {
    --main-bg-color: #f0f0f0;
    --main-text-color: #333;
    --header-bg-color: #333;
    --header-text-color: #fff;
    --nav-bg-color: #444;
    --nav-text-color: #fff;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
}

header {
    background-color: var(--header-bg-color);
    color: var(--header-text-color);
    padding: 1em;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
    background-color: var(--nav-bg-color);
}

nav ul li {
    display: inline-block;
    margin: 0 1em;
}

nav ul li a {
    color: var(--nav-text-color);
    text-decoration: none;
    display: flex;
    align-items: center;
}

nav ul li a .icon {
    width: 40px;  /* Ajusta el tamaño del icono según sea necesario */
    height: auto;
    margin-right: 10px;  /* Espacio entre el icono y el texto */
}

main {
    padding: 2em;
    text-align: center;
}

footer {
    background-color: var(--header-bg-color);
    color: var(--header-text-color);
    text-align: center;
    padding: 1em;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.producto {
    border: 1px solid #ddd;
    padding: 1em;
    margin: 1em;
    display: inline-block;
    width: calc(33% - 2em);
    box-sizing: border-box;
}

.producto img {
    max-width: 100%;
    height: auto;
}

@media (max-width: 768px) {
    .producto {
        width: calc(50% - 2em);
    }
}

@media (max-width: 480px) {
    .producto {
        width: calc(100% - 2em);
    }
}

/* Animaciones CSS */
h1 {
    animation: fadeIn 2s ease-in-out;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.producto img {
    transition: transform 0.3s ease;
}

.producto img:hover {
    transform: scale(1.1);
}
