<div class="container my-4" id="productContainer">
    <div class="row">
      <div class="col-md-4" *ngFor="let product of products">
        <div class="card mb-4">
          <img [src]="'assets/img/' + product.image" class="card-img-top" alt="{{product.name}}">
          <div class="card-body">
            <h5 class="card-title">{{product.name}}</h5>
            <p class="card-text">{{product.description}}</p>
            <p>Precio: {{product.price | currency}}</p>
            <p *ngIf="product.discount">Descuento: {{product.discount}}%</p>
            <button class="btn btn-primary" (click)="addToCart(product)">Agregar al carrito</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  